<main class="lista-vacantes">
    <h2>Navegación</h2>
    <div class="botones separador">
        <a href="/edit-profile" class="btn btn-azul">Editar Perfil</a>
        <a href="/offers/new" class="btn btn-verde">Crear Oferta</a>
    </div>
    <h2>Tus ofertas</h2>
    <div class="panel-administracion">
        {{#if offers.length}}
        {{#each offers}}
        <div class="vacante">
            <div class="caja">
                <h3>{{company}}</h3>
                <p class="puesto">{{title}}</p>
                <p class="candidatos">
                    {{candidates.length}} Candidato(s)
                </p>
            </div>
            <div class="centrar-vertical caja">
                <a href="/candidates/{{id}}" class="btn btn-amarillo">Candidates</a>
            </div>
            <div class="centrar-vertical caja">
                <a href="/offers/edit/{{url}}" class="btn btn-verde">Editar</a>
            </div>
            <div class="centrar-vertical caja">
                <a href="#" data-delete={{id}} class="btn btn-rojo">Eliminar</a>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>No tiene ofertas</p>
        {{/if}}
    </div>
</main>